.container {
    width: 100%;
}

.contact_container {
    width: 100%;
    display: flex;
}

.form_container {
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 2px solid springgreen;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form p {
    margin: 0;
    padding: 1em;
}

.form button,
.form input,
.form textarea {
    line-height: 1.6;
    width: 100%;
    font-size: 1rem;
    color: white;
    outline: none;
    padding: .4em;
    background: none;
    border: none;
    border-bottom: 1px solid slateblue;
    resize: none;
}

.form button {
    margin: 0 auto;
    width: 90%;
    border: 0;
    background-color: slateblue;
    text-transform: uppercase;
    padding: .7em 1em;
    text-align: center;
    cursor: pointer;
}




.desc_container {
    width: 50%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.desc {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.desc_logo {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 2rem 0;
}

.desc h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
}

.desc p {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.desc_social-media {
    text-align: center;
    margin-top: 2rem;
    font-size: 25px;
}

@media screen and (max-width: 769px) {
    .contact_container {
        flex-direction: column;
    }

    .form_container {
        width: 100%;
        order: 2;
    }

    .desc_container {
        width: 100%;
        order: 1;
        padding: 0;
    }

}

@media screen and (max-width: 481px) {
    .desc p {
        padding: 0;
    }

    .form {
        padding: 0;
    }

    .form button {
        margin: 1rem;
    }
}